@import "header";
@import "content-block";

.container {
  z-index: 0;
  width: calc(100% - 270px);

  @media screen and (max-width: 900px) and (min-width: 641px){
    width: 70%;
  }

  @media screen and (max-width: 640px){
    width: 100%;
  }

}